In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
sns.set_style("darkgrid")

# Resource File (CSV)
df = pd.read_csv('../Project1_exploration/output_data/Top_497.csv')
df.head()

,Unnamed: 0,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Price Range,Average Cost for two,User Rating,Rating Text,Votes,all_reviews_count,Cuisines
0,0,15547004,Restaurant Hubert,CBD,"15 Bligh Street, CBD, Sydney",Sydney,-33.865348,151.210624,4,150,4.9,Excellent,590,224,"French, European"
1,1,16558798,Quay,Circular Quay,"Upper Level, Overseas Passenger Terminal 5 Hic...",Sydney,-33.858029,151.209970,4,500,4.9,Excellent,1366,454,Modern Australian
2,2,16559171,Tetsuya's,CBD,"529 Kent Street, CBD, Sydney",Sydney,-33.875143,151.204932,4,440,4.9,Excellent,1234,329,Japanese
3,3,16569454,LuMi Bar & Dining,Pyrmont,"56 Pirrama Road, \tPyrmont, Pyrmont, Sydney",Sydney,-33.867137,151.197517,4,190,4.9,Excellent,452,196,"Italian, Japanese"
4,4,15545439,Manpuku,Chatswood,"226 Victoria Avenue, Chatswood, Sydney",Sydney,-33.794417,151.189542,2,40,4.9,Excellent,486,190,"Japanese, Ramen"

In [2]:
#Reorganising columns so Cuisine is at the end of the dataframe - dropping unnamed.
cuisines = df[['Restaurant_id',"Name", "Locality", "Address", "City", "Latitude", "Longitude", "Price Range", 
                      "Average Cost for two", "User Rating", "Rating Text", "Votes", "Cuisines"]]
cuisines

,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Price Range,Average Cost for two,User Rating,Rating Text,Votes,Cuisines
0,15547004,Restaurant Hubert,CBD,"15 Bligh Street, CBD, Sydney",Sydney,-33.865348,151.210624,4,150,4.9,Excellent,590,"French, European"
1,16558798,Quay,Circular Quay,"Upper Level, Overseas Passenger Terminal 5 Hic...",Sydney,-33.858029,151.209970,4,500,4.9,Excellent,1366,Modern Australian
2,16559171,Tetsuya's,CBD,"529 Kent Street, CBD, Sydney",Sydney,-33.875143,151.204932,4,440,4.9,Excellent,1234,Japanese
3,16569454,LuMi Bar & Dining,Pyrmont,"56 Pirrama Road, \tPyrmont, Pyrmont, Sydney",Sydney,-33.867137,151.197517,4,190,4.9,Excellent,452,"Italian, Japanese"
4,15545439,Manpuku,Chatswood,"226 Victoria Avenue, Chatswood, Sydney",Sydney,-33.794417,151.189542,2,40,4.9,Excellent,486,"Japanese, Ramen"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,16586992,Jolley's Boathouse,City Centre,"1 Jolleys Lane, City Centre, Adelaide",Adelaide,-34.917011,138.600296,4,120,4.2,Very Good,233,"Seafood, Modern Australian"
493,16588907,The Gallery,"Waymouth Street, City Centre","30 Waymouth Street, Adelaide, City Centre, Ade...",Adelaide,-34.925872,138.598311,4,100,4.2,Very Good,166,"Tapas, Bar Food"
494,16587014,Lenzerheide Restaurant,Kingswood,"146 Belair Road, Kingswood, Adelaide",Adelaide,-34.972047,138.609192,4,120,4.2,Very Good,233,European
495,16589555,Sukhumvit Soi 38,City Centre,"54 Pulteney Street, Adelaide",Adelaide,-34.923131,138.605479,3,90,4.2,Very Good,145,Thai
496,16586902,East Taste Cafe,"Gouger Street, City Centre","119 Gouger Street, Adelaide",Adelaide,-34.930500,138.595184,2,50,4.2,Very Good,260,"Asian, Chinese"

In [5]:
#Separating Cuisines data by comma and placing the data into new columns
cuisines = pd.concat([cuisines, cuisines['Cuisines'].str.split(', ', expand=True)], axis=1)
cuisines.columns = ['Restaurant_id',"Name", "Locality", "Address", "City", "Latitude", "Longitude", "Price Range", 
                      "Average Cost for two", "User Rating", "Rating Text", "Votes", "Cuisines", "Cuisine_1","Cuisine_2","Cuisine_3","Cuisine_4","Cuisine_5","Cuisine_6","Cuisine_7","Cuisine_8"]
cuisines

,Restaurant_id,Name,Locality,Address,City,Latitude,Longitude,Price Range,Average Cost for two,User Rating,...,Votes,Cuisines,Cuisine_1,Cuisine_2,Cuisine_3,Cuisine_4,Cuisine_5,Cuisine_6,Cuisine_7,Cuisine_8
0,15547004,Restaurant Hubert,CBD,"15 Bligh Street, CBD, Sydney",Sydney,-33.865348,151.210624,4,150,4.9,...,590,"French, European",French,European,None,None,None,None,None,None
1,16558798,Quay,Circular Quay,"Upper Level, Overseas Passenger Terminal 5 Hic...",Sydney,-33.858029,151.209970,4,500,4.9,...,1366,Modern Australian,Modern Australian,None,None,None,None,None,None,None
2,16559171,Tetsuya's,CBD,"529 Kent Street, CBD, Sydney",Sydney,-33.875143,151.204932,4,440,4.9,...,1234,Japanese,Japanese,None,None,None,None,None,None,None
3,16569454,LuMi Bar & Dining,Pyrmont,"56 Pirrama Road, \tPyrmont, Pyrmont, Sydney",Sydney,-33.867137,151.197517,4,190,4.9,...,452,"Italian, Japanese",Italian,Japanese,None,None,None,None,None,None
4,15545439,Manpuku,Chatswood,"226 Victoria Avenue, Chatswood, Sydney",Sydney,-33.794417,151.189542,2,40,4.9,...,486,"Japanese, Ramen",Japanese,Ramen,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
492,16586992,Jolley's Boathouse,City Centre,"1 Jolleys Lane, City Centre, Adelaide",Adelaide,-34.917011,138.600296,4,120,4.2,...,233,"Seafood, Modern Australian",Seafood,Modern Australian,None,None,None,None,None,None
493,16588907,The Gallery,"Waymouth Street, City Centre","30 Waymouth Street, Adelaide, City Centre, Ade...",Adelaide,-34.925872,138.598311,4,100,4.2,...,166,"Tapas, Bar Food",Tapas,Bar Food,None,None,None,None,None,None
494,16587014,Lenzerheide Restaurant,Kingswood,"146 Belair Road, Kingswood, Adelaide",Adelaide,-34.972047,138.609192,4,120,4.2,...,233,European,European,None,None,None,None,None,None,None
495,16589555,Sukhumvit Soi 38,City Centre,"54 Pulteney Street, Adelaide",Adelaide,-34.923131,138.605479,3,90,4.2,...,145,Thai,Thai,None,None,None,None,None,None,None
496,16586902,East Taste Cafe,"Gouger Street, City Centre","119 Gouger Street, Adelaide",Adelaide,-34.930500,138.595184,2,50,4.2,...,260,"Asian, Chinese",Asian,Chinese,None,None,None,None,None,None

In [6]:
#Placing Cuisine_1 the main cuisine in a Dataframe to allow grouping
cuisines1 = cuisines["Cuisine_1"].value_counts()
cuisines1

Japanese             69
Italian              49
Modern Australian    35
Asian                29
Thai                 27
Indian               21
Vietnamese           17
Chinese              16
French               16
Middle Eastern       16
European             15
Burger               12
Greek                11
Pizza                10
American             10
Bar Food             10
Spanish               9
Seafood               8
Tapas                 8
Sushi                 7
Mediterranean         7
Malaysian             6
Desserts              6
Cafe Food             5
Korean                5
Australian            5
Steak                 4
BBQ                   4
Coffee and Tea        4
Vegetarian            3
Japanese BBQ          3
African               3
Latin American        3
Mexican               3
Lebanese              3
Korean BBQ            3
Ramen                 2
Bakery                2
Sandwich              2
Modern European       2
Turkish               2
Cantonese             2
Contemporary          2
Healthy Food          2
Indonesian            2
Taiwanese             2
Fish and Chips        2
German                1
Fast Food             1
Hawaiian              1
Ice Cream             1
British               1
Asian Fusion          1
Portuguese            1
Crepes                1
Pub Food              1
Tibetan               1
Argentine             1
Vegan                 1
Laotian               1
Name: Cuisine_1, dtype: int64

In [42]:
# Combining similar cuisines together
cuisines = cuisines.replace({"Sushi": "Japanese", "Japanese BBQ": "Japanese", "Ramen" : "Japanese",
                             "Pizza": "Mediterranean", "European/Mediterranean": "Mediterranean", "Italian": "Mediterranean",
                             "Greek" : "Mediterranean", "Spanish/Tapas": "Mediterranean", "Tapas" : "Mediterranean",
                             "Spanish": "Mediterranean","Portuguese":"Mediterranean",
                             "European": "Other European", "Modern European":"Other European", "French": "Other European",
                             "Crepes": "Other European", "British": "Other European","German": "Other European",
                             "Lebanese": "Middle Eastern","Turkish":"Middle Eastern",
                             "Bar Food": "Bar/Pub", "Pub Food": "Bar/Pub",
                             "Cafe Food": "Cafe/Bakery", "Bakery": "Cafe/Bakery", "Sandwich": "Cafe/Bakery",
                             "Modern Australian": "Australian", 
                             "Burger" : "American", "American/Burger": "American", 
                             "Asian": "Other Asian", "Asian Fusion": "Other Asian", "Asian Other": "Other Asian",
                             "Korean BBQ":"Korean", "Tibetan": "Other Asian","Laotian": "Other Asian", "Cantonese": "Chinese",
                             "Fast Food":"American", 
                             "Argentine": "Latin American","Mexican": "Latin American",
                             "Vegan": "Vegan/Vegetarian", "Vegetarian": "Vegan/Vegetarian",
                             "Coffee and Tea": "Other", "Desserts":"Other", "Seafood": "Other", "BBQ": "Other", 
                             "Steak": "Other", "Healthy Food": "Other", "Fish and Chips": "Other", "Ice Cream": "Other", 
                             "Contemporary": "Other"
         })

cuisines2 = cuisines["Cuisine_1"].value_counts()
cuisines2

Japanese            81
Mediterranean       69
Other European      62
Australian          40
Other               33
Other Asian         32
Thai                27
American            23
Middle Eastern      21
Indian              21
Chinese             18
Vietnamese          17
Bar/Pub             11
Cafe/Bakery          9
Korean               8
Latin American       7
Malaysian            6
Vegan/Vegetarian     4
African              3
Taiwanese            2
Indonesian           2
Hawaiian             1
Name: Cuisine_1, dtype: int64

In [ ]:
#Keep the top ten cuisines we are interested in:
final_df = cuisines.loc[(df["Cuisine_1"] == "Japanese") |
                                  (df["Cuisine_1"] == "Asian") |
                                  (df["Cuisine_1"] == "Italian")|
                                   (df["Cuisine_1"] == "Australian") |
                                   (df["Cuisine_1"] == "European") |
                  (df["Cuisine_1"] == "American/Burger") |
                  (df["Cuisine_1"] == "Indian") |
                  (df["Cuisine_1"] == "Vietnamese") |
                  (df["Cuisine_1"] == "Spanish/Tapas") |
                  (df["Cuisine_1"] == "Middle Eastern") 
                                  ]
final_df["Cuisine_1"]

In [ ]:
city_group = final_df.groupby("City")
cuisine_city = pd.DataFrame(city_group["Cuisine_1"].value_counts())
cuisine_city.columns = ["Count"]
cuisine_city

In [ ]:
#Breakdown of restaurants per user ratings across cities
cuisine=final_df.groupby(['City'])['Cuisine_1'].value_counts().unstack('Cuisine_1').fillna(0)
cuisine.plot(kind='bar', stacked=True, legend=False, rot=0, figsize=(10,5)).legend(bbox_to_anchor=(1, 1))
# Set textual properties
plt.title("Restaurants per cuisines per city")
plt.ylabel("Number of restaurants")
plt.xlim(-0.5,len(cuisine)-0.5)
plt.ylim(0,72)
#Save image
plt.savefig('images/Restaurants per cuisines per city.png')
# Show plot
plt.show()
plt.tight_layout()

In [ ]:
cuisine_group = final_df.groupby("Cuisine_1")
cities_per_cuisines = pd.DataFrame(cuisine_group["City"].value_counts())
cities_per_cuisines.columns = ["Count"]
cities_per_cuisines

In [ ]:
#Breakdown of restaurants per user ratings across cities
cuisine2=final_df.groupby(['Cuisine_1'])['City'].value_counts().sort_values(ascending=False).unstack('City').fillna(0)
cuisine2.plot(kind='barh',stacked=True, legend=False, figsize=(15,5)).legend(bbox_to_anchor=(1, 1))
# Set textual properties
plt.title("Restaurants per city per cuisines")
plt.ylabel("Number of restaurants")
plt.ylim(-0.5,len(cuisine2)-0.5)
plt.xlim(0,85)
#Save image
plt.savefig('images/Restaurants per city per cuisines.png')
# Show plot
plt.show()
plt.tight_layout()